@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Edu AU VIC WA NT Hand", cursive;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

h1 {
	text-align: left;
	margin: 25px auto;
	width: 80%;
}

h2,
h3 {
	padding-left: 40px;
}

li,
p {
	padding: 5px;
}

img {
	width: 80%;
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 25px;
}

.body-left,
.body-right {
	background-color: #f1f1f1;
	padding: 20px;
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
}

.body-left {
	float: left;
}

.body-right {
	float: right;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.body-left > h2,
p {
	text-align: justify;
	padding-left: 0;
	width: 80%;
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
	margin-bottom: 20px;
}
